{% extends 'base.html'%}
{% load static %}
{% block body %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}Let's Dream</title>
    <link rel="stylesheet" href="{% static 'home/about.css' %}">
    <style>
        
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: #ffffff;
            background-image:
            linear-gradient(
              to right, #f2e8ee, #e8dbdb
            ),
            repeating-linear-gradient(
                to bottom, transparent 0 100px,
                #ffffff 100px 101px
            );
        }
        
        body::before{
            position: absolute;
            width: 100%;
            top: 0%;
            left: 50%;
            height: 100%;
            transform: translateX(-50%);
            content: '';
            background-image: url("{% static 'image/about.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            pointer-events: none;
            position: relative;
        }
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="banner">
        <div class="slider" style="--quantity: 10">
            <div class="item" style="--position: 1"><img src="static/image/audy.jpg" alt=""></div>
            <div class="item" style="--position: 2"><img src="static/image/benz.jpg" alt=""></div>
            <div class="item" style="--position: 3"><img src="static/image/polo.jpg" alt=""></div>
            <div class="item" style="--position: 4"><img src="static/image/x7.jpg" alt=""></div>
            <div class="item" style="--position: 5"><img src="static/image/swift.jpg" alt=""></div>
            <div class="item" style="--position: 6"><img src="static/image/scorpio.jpg" alt=""></div>
            <div class="item" style="--position: 7"><img src="static/image/scoda.jpg" alt=""></div>
            <div class="item" style="--position: 8"><img src="static/image/xuv700.jpg" alt=""></div>
            <div class="item" style="--position: 9"><img src="static/image/force.jpg" alt=""></div>
            <div class="item" style="--position: 10"><img src="static/image/fortuner.jpg" alt=""></div>
        </div>
        <div class="content">
            <h3 data-content="Get Your Dream Ride">
               
            </h3>
            <div class="author">
                <h2>Let's Dream Rides</h2>
                <p><b>Rental Services</b></p>
                <p>
                    Get Book Your Ride Right Know To Get Special Offer From Let'S DREAM Rides
                </p>
            </div>
            <div class="model"></div>
        </div>
    </div>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/image/scorpio.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
              </div>
              <small class="text-body-secondary">5 Ratings</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/image/scoda.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
              </div>
              <small class="text-body-secondary">4.6 Ratings</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/image/fortuner.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
              </div>
              <small class="text-body-secondary">4 Ratings</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="static/image/swift.jpg" class="d-block w-100" alt="...">  
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
              </div>
              <small class="text-body-secondary">4 Ratings</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/image/x7.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
              </div>
              <small class="text-body-secondary">5 Ratings</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/image/force.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
              </div>
              <small class="text-body-secondary">3.7 RATINGS</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="static/image/xuv700.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
              </div>
              <small class="text-body-secondary">4.2 Ratings</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/image/audy.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Book Now</button>
              </div>
              <small class="text-body-secondary">4.5 Ratings</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/image/benz.jpg" class="d-block w-100" alt="...">  
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container-fluid px-0 mb-3">
      </div>
      <div class="container mb-3 py-4">
      <h1 class ="text-center">About us</h1>
      <form method="post" action="/contact">
      {% csrf_token %}
      <form>
      <div class="mb-3 ">
          <label for="name" class="form-label">name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="enter your name">
        </div>
        <div class="form-group mb-3">
          <label for="desc">Write Your Car and Model</label>
          <textarea class="form-control mb-3" id="desc" rows="3" name="desc"></textarea>
          <button class="btn btn-primary "> Book  Now </button>
        </div>   
      </form>
    
</body>
</html>
{% endblock body %}   
